{{ define "content" }}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Welcome</h3>
        <h6 class="font-weight-normal mb-0">All systems are running <span class="text-primary"></span>smoothly!</span></h6>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12 grid-margin transparent">
    <div class="row">
      <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Total Domain</p>
            <p class="fs-30 mb-2">4006</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Total Path</p>
            <p class="fs-30 mb-2">61344</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Number of Fire</p>
            <p class="fs-30 mb-2">34040</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
{{ end }}