{{ define "content" }}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Update a Paths</h4>
      <p class="card-description">
        Update a Paths
      </p>
      {{ $Paths := .Path }}
      {{ $Domain := .Domains }}

      {{ range $Path := $Paths }}
      <form class="forms-sample" action="/path/update/{{ $Path.ID }}" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ $Path.Name }}">
        </div>
        <div class="form-group">
          <label>Domains</label>
          <select class="js-example-basic-single w-100" tabindex="-1" aria-hidden="true" id="domain" name="domain">
            {{ range $value := $Domain }}
            <option value="{{ $value.ID }}" {{ if eq $value.ID $Path.Domain }} selected {{ end }}>{{ $value.Name }}</option>
            {{ end }}
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="4" placeholder="Description">{{ $Path.Description }}</textarea>
        </div>
        <div class="form-group">
          <label for="name">Value</label>
          <input type="text" class="form-control" id="value" name="value" placeholder="Name" value="{{ $Path.Value }}">
        </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Type</label>
            <div class="col-sm-4">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" id="type" value="1" {{ if eq $Path.Type 1 }} checked {{ end }}>
                  SubDomain
                <i class="input-helper"></i></label>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" id="type" value="2" {{ if eq $Path.Type 2 }} checked {{ end }}>
                  Path
                <i class="input-helper"></i></label>
              </div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary mr-2">Save</button>
      </form>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}