{{ define "footerScripts" }}
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>

<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/assets/js/dataTables.select.min.js"></script>

<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>

<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/Chart.roundedBarCharts.js"></script>

<script src="/assets/js/select2.js"></script>

{{ end }}