{{ define "header" }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
<link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

<link rel="stylesheet" href="/assets/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">

<link rel="stylesheet" href="/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/assets/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/assets/js/select.dataTables.min.css">

<link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">

<link rel="shortcut icon" href="/assets/images/header/favicon.png" />

{{ end }}