{{ define "sidebar" }}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/domain">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Domains</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/path">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Paths</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fire">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Fires</span>
        </a>
      </li>
    </ul>
</nav>
{{ end }}